/*import de variables*/
/*import de reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", serif;
}

h1 {
  font-family: "Roboto", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 3.2em;
  margin: 0;
}

h2 {
  font-family: "Roboto", serif;
  font-size: 2.7em;
}

p {
  font-size: 1.3em;
}

a:hover {
  text-transform: uppercase;
  color: #F5ECD5;
  text-shadow: 1px 1px 10px rgb(159, 159, 159);
}

a {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 0.8em;
  text-decoration: none;
  color: #F5ECD5;
}

button {
  background-color: #57886c;
  font-size: 1.5em;
  font-weight: bold;
  border: 1px solid #3D3D3D;
  border-radius: 20px;
  padding: 15px 30px;
  color: #F5ECD5;
}

button:hover {
  background-color: #F5ECD5;
  cursor: pointer;
  color: #3D3D3D;
}

header {
  position: relative;
}

/* ----------------------------------------------TEXTO DE LOGO ------------------- */
#siembra {
  text-align: center;
  width: 90vw;
}

footer {
  text-align: center;
  color: #F5ECD5;
  padding: 50px 10px;
  background-color: #3D3D3D;
}
footer div div div.footer__boton-centrar {
  margin-top: 40px;
}

/*---------------------- BOTON CTA PARA COMPRAR EN FUDO APP --------------------------- */
.footer__cta {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

footer div.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
}

/*----------------------------------- SECCION DE BANNER LOGO---------------------------*/
header section .logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.5)), url(../imagenes/rosca.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 40vh;
  color: #F5ECD5;
  align-content: center;
  border: 3px solid black;
  border-radius: 30px;
  box-shadow: 1px 1px 5px #3D3D3D;
}

.section__logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 10px;
}

/*tabla de bootstrap*/
main .tabla__index {
  padding-top: 20px;
}
main .tabla__index div .borderRadius {
  border: 1px solid grey;
  border-radius: 10px;
}
main .tabla__index div .table__centrar {
  text-align: center;
}

/*import de contacto*/
/*PAGINA DE CONTACTOS */
main .container__contact {
  width: 100%;
  padding: 0px 10px 10px 10px;
  color: #3D3D3D;
  text-align: center;
}
main .container__contact div.contact {
  height: 70%;
  padding: 30px 15px 10px 15px;
  display: block;
  flex-direction: column;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main .container__contact div.contact .contactos__unicos {
  align-items: center;
  text-shadow: 2px 2px 4px grey;
  width: 100%;
  margin-bottom: 50px;
}
main .container__contact div.contact .instagram .img-contact {
  display: none;
  box-shadow: none;
  border: none;
  width: 70px;
  height: 70px;
}
main .container__contact div.contact h2 {
  margin-bottom: 30px;
}
main .container__contact div.contact div#email h2 {
  margin-bottom: 30px;
}
main .container__contact div.contact div#email h2 .img-contact {
  display: none;
  box-shadow: none;
  border: none;
  width: 70px;
  height: 70px;
}
main .container__contact div.contact div#wsp-contacto h2 {
  margin-bottom: 30px;
}
main .container__contact div.contact div#wsp-contacto h2 .img-contact {
  display: none;
  box-shadow: none;
  border: none;
  width: 70px;
  height: 70px;
}

/*import de mapa*/
main div div #mapaIframe {
  box-shadow: 1px 1px 5px #3D3D3D;
  border-radius: 30px;
  width: 100%;
  height: 60vh;
}

/*import comentarios*/
main #carouselExampleSlidesOnly {
  height: 40vh;
}
main .container-cartas {
  padding: 20px 15px;
  display: none;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  background-color: #ffffff;
}
main .container-cartas #comment1 {
  display: none;
}
main .container-cartas #comment2 {
  display: none;
}
main .container-cartas #comment9 {
  display: none;
}
main .container-cartas #comment10 {
  display: none;
}

/*import suscribite*/
main div.formularioSubs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px;
  color: black;
}
main div.formularioSubs .container-subs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main div.formularioSubs .container-subs .div-form {
  width: 80%;
}
main div.formularioSubs .container-subs .div-form #suscripcion-bot {
  margin-top: 50px;
}
main div.formularioSubs .container-subs .div-form form {
  width: 100%;
  padding-bottom: 30px;
}
main div.formularioSubs .container-subs .div-form form ul li {
  padding: 5px;
}
main div.formularioSubs .container-subs .div-form form ul li .input-subs {
  width: 100%;
  height: 40px;
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px;
}
main div.formularioSubs .container-subs .divTitulo__sub {
  width: 100%;
}
main div.formularioSubs .container-subs .divTitulo__sub h1.titulo-subs {
  padding: 30px 0px 50px 0px;
  color: #3D3D3D;
  font-size: 2em;
  width: 100%;
}

/*import de mediatablet*/
@media (min-width: 600px) {
  /*logo*/
  nav section div #siembra {
    font-size: 15vw;
  }
  /*COMENTARIOS*/
  main #carouselExampleSlidesOnly {
    display: none;
  }
  main .container-cartas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding: 0px 10px;
  }
  main #container-cartas #comment1 {
    display: flex;
    width: 100%;
  }
  main #container-cartas #comment2 {
    display: flex;
    width: 100%;
  }
  main #container-cartas #comment3 {
    width: 100%;
  }
  main #container-cartas #comment4 {
    width: 100%;
  }
  main #container-cartas #comment5 {
    width: 100%;
  }
  main #container-cartas #comment6 {
    width: 100%;
  }
  main #container-cartas #comment7 {
    width: 100%;
  }
  main #container-cartas #comment8 {
    width: 100%;
  }
  main #container-cartas #comment9 {
    width: 100%;
    display: flex;
  }
  main #container-cartas #comment10 {
    width: 100%;
    display: flex;
  }
  /*SUBSCRIPCION*/
  main div div div form ul .input-subs {
    width: 60vw;
  }
  footer {
    padding: 20px 10px;
  }
  footer div div .comprar {
    font-size: 3.2em;
  }
  footer div div .footer__boton-centrar {
    margin-top: 30px;
  }
}
/*import mediaDesktop*/
@media (min-width: 1024px) {
  #siembra {
    font-size: 15vw;
  }
  main div .contactos__unicos {
    display: flex;
    width: 30vw;
    object-fit: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main div .contactos__unicos .img-contact {
    display: flex;
  }
  main .mapaGoogle {
    padding: 30px 20px;
  }
  main .container-cartas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
  }
  main div #mapaIframe {
    height: 65vh;
    width: 100%;
    box-shadow: 1px 1px 30px #3D3D3D;
    border-radius: 30px;
  }
  main div table thead th {
    font-size: 2.3vw;
  }
  main div table tbody td {
    font-size: 2.3vw;
  }
}
header .section__logo .logo {
  display: flex;
  height: 40vh;
}
header .section__logo .logo #siembra {
  font-size: 15vw;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}
footer .footer__cta {
  width: 900px;
}
footer .footer__cta .container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: space-around;
}
footer .footer__cta .container .footer__boton-centrar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
footer .footer__cta .container div .comprar {
  font-size: 2.5em;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 1fr;
}
.contact #wsp-contacto {
  margin-bottom: 0px 0px 50px 0px;
}

/*import mediaDesktop suscripcion*/
main .formularioSubs {
  padding: 40px 0px;
}
main .formularioSubs .container-subs {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  text-align: center;
}
main .formularioSubs .container-subs .div-form {
  width: 50%;
}
main .formularioSubs .container-subs .div-form form ul li .input-subs {
  width: 80%;
}
main .formularioSubs .container-subs .divTitulo__sub {
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: end;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
