* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: "Dosis", serif;
}

h1 {font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.5em;
    width: 100%;
    min-width: 400px;}
h2 {font-size: 2.7em;}
p {font-size: 1.30em;}
ul {list-style: none;}
li {font-size: 1.5em;
    font-weight: 300;
    color: white;
    padding: 30px;    
}
a:hover {
    color: cornsilk;
    text-shadow: 1px 1px 10px rgba(78, 78, 78, 0.514);
}
a {
    font-size: 1.2em;
    text-decoration: none;
    color: white;
}

div {
    min-width: 400px;
}

button {
    background-color: #0c814ab0;
    font-size: 1.2em;
    font-weight: bold;
    border: 1px solid white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 15px 30px;
    color: white;
}

button:hover {
    background-color: #09683cb0;
    cursor: pointer;
}

.container {
    display: flex;
    min-width: 360px;
    max-width: 100%;
    margin: auto;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}

header .container {
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
}

header nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(160, 160, 160);
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
}

header nav ul {
    display: inline-flex;
    align-items: center;
    height: 10vh;
    background-color: rgb(160, 160, 160);
    margin: 4px;
    padding: 4px;
}

 /* ------------------TEXTO DE LOGO ------------------- */
.logo {
    text-align: center;
    font-size: 3.2em;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    justify-content: space-evenly;
}

footer {
    height: 30vh;
    background-color: cornsilk;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*---------------------- BOTON CTA PARA COMPRAR EN FUDO APP --------------------------- */
.cta-comprar {
    background-color: cornsilk;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 15px;
}

/*--------------- SECCION DE BANNER LOGO---------------------------*/
header section #hero {
    background-image: linear-gradient(
        0deg,
       rgba(0,0,0,1),
       rgba(0,0,0,0.5 )
    )
    ,url(./imagenes/panes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    max-width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    color: aliceblue;
}

section {
    width: 100%;
}

/*------------------ DIV DE LA TABLA DE HORARIOS-----------------------*/
header div.horarios div.container  {
    background-color: #57886c;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/*----------------------TABLA DE HORARIOS----------------------------*/
.tabla-horario, .tabla-horario th, .tabla-horario td {
    padding: 10px;
    font-size: 1.3em;
    text-shadow: 2px 2px 5px grey;
}

/* <!------------------ FORMULARIO DE SUSCRIPCION ----------------> */
div.formulario-subs {
    background-color: #57886c;
}

.input-subs {
    width: 300px;
    height: 40px;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
}

div div div form ul li {
    padding: 5px;
} 

div div div form {
    padding-bottom: 60px;
}

/* comentarios */
main div div img {
    width: 40%;
}

/* DIV CONTACTO MARGEN */

div.contact {
    padding-bottom: 40px;
}

#mapa-iframe {
    width: 100%;
    height: 50vw;
}

/*----------------------------- flexbox para imagenes de comentarios ---------------- */
div.comentario-img {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 24%;
    height: 100%;
}

div.comentario-img img {
    width: 300px;
}
