main {
    #carouselExampleSlidesOnly {
        height: 40vh;
    }
    .container-cartas {
        padding: 20px 15px;
        display: none;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 10px;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
        background-color: #ffffff;
        #comment1{display: none;}
        #comment2{display: none;}
        #comment9{display: none;}
        #comment10{display: none;}    
    }
}