@media (min-width:1024px) {

#siembra {
    font-size: 10vw;
    }

main{
    div{
        .contactos__unicos {
                display: flex;
                width: 30vw;
                object-fit: cover;
                justify-content: center;
                align-items: center;
                gap :30px;
            }        
        }
        .mapaGoogle {
        padding: 30px 20px;
        }
        .container-cartas{
            @include grid (grid, repeat(3, 1fr), repeat(4, 1fr));
            gap: 30px;
            }
        div{
            #mapaIframe {
                height: 65vh;
                width: 100%;
                box-shadow: 1px 1px 30px #3D3D3D;
                border-radius: 30px;
            }
            table{
                thead{
                    th{
                        font-size: 2.3vw;
                    }
                }
                tbody{
                    td{
                        font-size: 2.3vw;
                    }
                }
            }
        }
    }
}

header {
    .section__logo{
         .logo {
        display: flex;
        height: 40vh;
        #siembra {
            font-size: 10vw;
            }
        
        }
    }
}

footer{
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    .footer__cta {
        width: 900px;
        .container {
            display: flex;
            align-items: center;
            justify-content: space-around;
            .footer__boton-centrar {
                display: flex;
                align-items: center;
                justify-content: center;
                justify-items: center;
            }
        
            div{
                .comprar {
                    font-size: 2.5em;
                    }
            }
        }
    }
}


.contact {
    display: flex;
}