main{
    .formularioSubs{
        padding: 40px 0px;
        .container-subs {
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: center;
            text-align: center;
            .div-form {
                width: 50%;
                form{
                    ul{
                        li{
                            .input-subs {
                                width: 80%;
                                }
                        }
                    }
                }
                }
            .divTitulo__sub {
                font-size: 1.2em;
                display: flex;
                flex-direction: column;
                width: 50%;
                align-items: end;
                text-align: center;
                }
            }
    }
}