@media (min-width:1024px) {

#siembra {
    font-size: 15vw;
    }

main{
    div{
        .contactos__unicos {
                display: flex;
                width: 30vw;
                object-fit: cover;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .img-contact {
                    display: flex;
                }
            }        
        }
        .mapaGoogle {
        padding: 30px 20px;
        }
        .container-cartas{
            @include grid (grid, repeat(3, 1fr), repeat(4, 1fr));
            gap: 30px;
            }
        div{
            #mapaIframe {
                height: 65vh;
                width: 100%;
                box-shadow: 1px 1px 30px #3D3D3D;
                border-radius: 30px;
            }
            table{
                thead{
                    th{
                        font-size: 2.3vw;
                    }
                }
                tbody{
                    td{
                        font-size: 2.3vw;
                    }
                }
            }
        }
    }
}

header {
    .section__logo{
         .logo {
        display: flex;
        height: 40vh;
        #siembra {
            font-size: 15vw;
            }
        
        }
    }
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    .footer__cta {
        width: 900px;
        .container {
            display: flex;
            flex-direction: row;
            gap: 40px;
            align-items: center;
            justify-content: space-around;
            .footer__boton-centrar {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                justify-items: center;
            }
        
            div{
                .comprar {
                    font-size: 2.5em;
                    }
            }
        }
    }
}


.contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr;
    #wsp-contacto {
        margin-bottom: 0px 0px 50px 0px;
    }

}