main{
    div.formularioSubs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        padding: 10px;
        color: black;
        .container-subs{display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            .div-form{
            width: 80%;
                #suscripcion-bot {
                    margin-top: 50px;
                }
                form {
                    width: 100%;
                    padding-bottom: 30px;
                    ul{
                        li{
                            padding: 5px;
                            .input-subs {
                                width: 100%;
                                height: 40px;
                                border: 1px solid black;
                                border-radius: 30px;
                                padding: 10px;
                            }
                        }
                    }
                }
            }
            .divTitulo__sub {
                width: 100%;
                h1.titulo-subs {
                    padding: 30px 0px 50px 0px;
                    color: #3D3D3D;
                    font-size: 2em;
                    width: 100%;
                }
            }
        }
    }
}